@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
.App p {
  text-align: center;
  font-family: "Calligraffitti", cursive;
  font-size: 20px;
}
.App {
  width: 60%;
  align-self: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}
.App h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
